[Unit]
Description=Applacovid Admin Console
After=syslog.target

[Service]
WorkingDirectory=/home/computo/applacovid-admin
SyslogIdentifier=admin
User=computo
Group=computo
ExecStart=/usr/bin/java -Xms512m -Xmx3G -Dspring.index.ignore=true -jar /home/computo/applacovid-admin/applacovid-admin.jar --debug=true
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
