<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!--<link rel="stylesheet" th:href="@{/style/popper.css}"/>-->
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="icon" type="image/png" th:href="@{images/applacovid-ico.png}"/>
    <link rel="shortcut icon" th:href="@{/images/applacovid-ico.png}"/>
    <link rel="apple-touch-icon" th:href="@{/images/applacovid-ico.png}"/>
    <title th:text="${#httpServletRequest.getParameter('pageTitle') != null} ? ${param.pageTitle[0]} : #{header.html.title}">
        Applacovid Admin Console
    </title>
</head>

<head th:fragment="outerHead">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="icon" type="image/png" th:href="@{images/applacovid-ico.png}"/>
    <link rel="shortcut icon" th:href="@{/images/applacovid-ico.png}"/>
    <link rel="apple-touch-icon" th:href="@{/images/applacovid-ico.png}"/>
    <title th:text="${#httpServletRequest.getParameter('pageTitle') != null} ? ${param.pageTitle[0]} : #{header.html.title}">
        Applacovid Admin Console
    </title>
</head>
</html>
